<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite" parallel="false" thread-count="1">

<listeners>
    <listener class-name="ExtentReports.ExtentReportListener">
    </listener>
</listeners>

    <test name="Login Runner">
        <classes>
            <class name="Runner.LoginTestRunner"/>
        </classes>
    </test>

    <test name="Home Page Validation Runner">
        <classes>
            <class name="Runner.HomePageValidationTestRunner"/>
        </classes>
    </test>

    <test name="Contact Person Creation Runner">
        <classes>
            <class name="Runner.ContactPageValidationPersonRunner"/>
        </classes>
    </test>

    <test name="Contact Company Creation Runner">
        <classes>
            <class name="Runner.ContactPageValidationCompanyRunner"/>
        </classes>
    </test>
</suite>
